<div class="ui pointing stories menu">
  
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search..."
         data-action="search"
         title="Enter a phrase > 3 characters">
        <i class="search link icon" data-action="search"></i>
      </div>
    </div>
  </div>
</div>
