<h3 class="ui dividing header">Select a visualization type for displaying the story output</h3>

<div id="section-visualizations" class="ui container">

  <div class="ui cards">

    <div class="ui cards">
      <div class="ui card raised">
        <div class="content">
          <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/json.svg">
          <div class="header">JSON</div>
          <div class="description">
            Display results in raw JSON
            format as returned from the service.
          </div>
        </div>
        <div class="ui bottom attached green active button" data-type="json">
          <i class="check icon"></i> Select
        </div>
      </div>
      <div class="ui card">
        <div class="content">
          <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/table.svg">
          <div class="header">Table</div>
          <div class="description">
            Visualize results using a data table
            in a human-friendly way.
          </div>
        </div>
        <div class="ui bottom attached button" data-type="table">
          <i class="check icon"></i> Select
        </div>
      </div>

    </div>

  </div>


</div>
