<h3 class="ui dividing header">Select a visualization type for displaying the story output</h3>

<div id="section-visualizations" class="ui container">

  <div class="ui cards">

    <div class="ui cards">

      <div class="ui card raised">
        <div class="content">
          <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/text.svg">
          <div class="header">Text</div>
          <div class="description">
            Display results in plain text.
          </div>
        </div>
        <div class="ui bottom attached green active button" data-type="text">
          <i class="check icon"></i> Select
        </div>
      </div>

      {{#if jsonSupported}}
      <div class="ui card">
        <div class="content">
          <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/json.svg">
          <div class="header">JSON</div>
          <div class="description">
            Display results in raw JSON
            format.
          </div>
        </div>
        <div class="ui bottom attached button" data-type="json">
          <i class="check icon"></i> Select
        </div>
      </div>
      {{/if}}

      {{#if xmlSupported}}
        <div class="ui card">
          <div class="content">
            <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/xml.svg">
            <div class="header">XML</div>
            <div class="description">
              Display results in raw XML
              format.
            </div>
          </div>
          <div class="ui bottom attached button" data-type="xml">
            <i class="check icon"></i> Select
          </div>
        </div>
      {{/if}}

      <div class="ui card">
        <div class="content">
          <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/table.svg">
          <div class="header">Table</div>
          <div class="description">
            Visualize results using a data table
            in a human-friendly way.
          </div>
        </div>
        <div class="ui bottom attached button" data-type="table">
          <i class="check icon"></i> Select
        </div>
      </div>

      {{#if csvSupported}}
      <div class="ui card">
        <div class="content">
          <img class="ui right floated image avatar" src="../../../../assets/images/stories/visualizations/csv.svg">
          <div class="header">CSV</div>
          <div class="description">
            Download results in CSV format.
          </div>
        </div>
        <div class="ui bottom attached button" data-type="csv">
          <i class="check icon"></i> Select
        </div>
      </div>
      {{/if}}



    </div>

  </div>


</div>
