<form class="ui form" data-step="outline">

  <div class="inline field">
    <label>From API</label>
    <span class="ui basic blue label">{{title}}</span>
  </div>

  <div class="field required">
    <label>Story title</label>
    <input class="ui text parameter" type="text" name="title" maxlength="80" placeholder="Enter a title for this story">
  </div>
  <div class="field required">
    <label>Description</label>
    <textarea class="parameter" rows="2" name="description" maxlength="160" placeholder="Write a short description"></textarea>
  </div>

  <div class="field required">
    <label>Based on operation</label>
    <select class="ui search dropdown parameter" name="operation">
      <option value="">Select an operation</option>
      {{#each operations}}
        <option value="{{id}}" title="{{description}}">{{summary}}</option>
      {{/each}}
    </select>
  </div>

</form>
