<div class="ui fullscreen modal long scrolling story visualizer">
  <i class="close icon"></i>
  <div class="header">
    {{title}}
  </div>
  <div class="content">

    <div class="ui  story output">

      <div class="ui segments">

      </div>

    </div>

  </div>

  <div class="actions">

    <div class="ui positive right labeled icon button">
      Ok
      <i class="checkmark icon"></i>
    </div>
  </div>

</div>
