<div class="ui fullscreen modal long scrolling story player">
  <i class="close icon"></i>
  <div class="header">
    {{title}}
  </div>
  <div class="content">

    <div class="ui  story output">

      <div class="ui segments">

        <div class="ui segment load">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <img class="ui wireframe image" src="../../../assets/images/common/paragraph.png">
        </div>

      </div>

    </div>

  </div>

  <div class="actions">

    <div class="ui positive right labeled icon button">
      Ok
      <i class="checkmark icon"></i>
    </div>
  </div>

</div>
