<div id="#modal-story-maker" class="ui modal long scrolling">
  <i class="close icon"></i>
  <div class="header">
    Create a new data story
  </div>
  <div class="content">

    <div class="ui steps">
      <a class="active step" data-form="outline">
        <div class="content">
          <div class="title">Story outline</div>
          <div class="description">Describe your story</div>
        </div>
      </a>
      <a class="step" data-form="input">
        <div class="content">
          <div class="title">Input dataset</div>
          <div class="description">Fill in the input dataset</div>
        </div>
      </a>
    </div>

    <div id="step-contents">

    </div>

  </div>

  <div class="actions">
    <div class="ui deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" id="btn-save">
      Save
      <i class="save icon"></i>
    </div>
  </div>

</div>
