/* Body */
body {
	-webkit-font-smoothing: antialiased;
	background-color: transparent !important;
	font-size: 12px;
	overflow: hidden;
	cursor: move;
}

#container-graph {
	height: 100%;
}

/* Alert */
.alert {
	padding: 0px !important;
}

/* Modal */
.modal-title {
	word-break: break-all;
}

.section-produces .label, .section-security .label, .model-required .label,
	.section-tags .label {
	margin-right: 10px;
	font-size: 10px;
}

.section-security .label {
	margin-top: 2px;
	position: relative;
	float: left;
}

.section-security .label {
	margin-top: 2px;
	position: relative;
	float: left;
}

/*
 * Tables
 */
th, td {
	font-size: 13px !important;
}

td span.glyphicon-remove {
	color: #bdc3c7;
}

td span.glyphicon-ok {
	color: #2ecc71;
}

td.param-name, td.param-descr {
	word-wrap: break-word;
	white-space: normal;
	max-width: 200px;
}

/* Operation tabs */
.nav>li.operation>a, .nav>li.section>a {
	padding: 2px 8px !important;
	font-weight: bold;
	font-size: 12px;
}

.nav li.active a {
	color: white !important;
}

.nav>li.operation>a {
	padding: 2px 8px !important;
	color: white;
}

.nav-pills>li.get>a {
	color: #0f6ab4;
}

.nav-pills>li.post>a {
	color: #10a54a;
}

.nav-pills>li.put>a {
	color: #c5862b;
}

.nav-pills>li.delete>a {
	color: #a41e22;
}

.nav-pills>li.patch>a {
	color: #9b59b6;
}

.nav-pills>li.head>a {
	color: #e67e22;
}