
/*******************************
        Application
*******************************/
body {
  font-size: 14px;
}

.ui.modal>.content {
  font-size: 14px!important;
}

.article {
  min-height: 600px;
}

.right.floated {
  float: right;
}

.clickable {
  cursor: pointer;
}

/*******************************
  Fixed top menu
*******************************/

/* NEW floating labels on top menu */
.ui.menu .item>.floating.label.new {
    top: 4em;
    left: 80%;
}



.ui.vertical.stripe {
  padding: 8em 0em;
}

/******************************
  API Explorer
*******************************/

/*******************************
         Sidebar Layout
*******************************/

#api > .pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
#api:not(.site) > .pusher > .full.height {
  background-color: #FFFFFF;
}

/* page layout */
#api .full.height > .toc {
  position: fixed;
  z-index: 1;
  background-color: #1b1c1d;
  width: 250px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

#api .full.height > .toc .ui.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
  max-height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#api .article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0px;
  margin-left: 0px;
}

#api .full.height > .toc .ui.menu::-webkit-scrollbar {
  -webkit-appearance: none;
}
#api .full.height > .toc .ui.menu::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
#api .full.height > .toc .ui.menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0);
}

#api .full.height > .toc .ui.menu:hover::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}
#api .full.height > .toc .ui.menu:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

#api .article > .footer {
  border-top: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08) inset;
  background-color: #FAFAFA;
  padding-top: 2em;
}

#api .tag {
  margin-left: 2em;
  margin-bottom: 1em
}

#graph {
  height: 500px;
  min-width: 800px;
}

/*******************************
    Containers
*******************************/

.little.padded.container {
  padding: 2em 0em 2em;
}

.main.container .introduction p, .main.container .tab > p, .main.container > p {
  font-size: 16px;
  line-height: 2;
}


/*******************************
  Card lists
*******************************/

.ui.cards.top.margin {
  margin-top: 20px;
}

.ui.cards>.card .meta {
  word-wrap: break-word;
}

.ui.cards>.card>.content>.header:not(.ui) {
  word-wrap: break-word;
}

/*******************************
  Story maker
*******************************/
.modal .schema.input {
  margin-top: 20px;
}


.ui.card>.content .play.icon, .ui.cards>.card>.content .play.icon {
    cursor: pointer;
    opacity: .75;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}


.ui.card>.content .play.icon:hover,.ui.cards>.card>.content .play.icon:hover {
    opacity: 1;
    color: #21ba45
}


/*******************************
  Story player
*******************************/
.story.part .visualization {
  height: 400px;
}

.tab .editor {
  height: 300px;
  margin-top: 20px;
}

.story.card .result {
  margin-left: 10px;
  display: none;
}

.story.visualizer .story.part .visualization {
  margin-top: 10px;
}

#section-visualizations {
  padding: 20px!important;
}

.story.output {
  margin-top: 20px;
}

.story.part .visualization[data-type=json] {
  max-height: 400px;
  overflow-y: auto;
}

.story.part .visualization[data-type=table] {
  height: 600px;
  /*overflow-y: auto;*/
  overflow-x: auto;
}

.dataTables_filter {
  margin-bottom: 10px;
}
