/*******************************
        Application
*******************************/
body {
  font-size: 16px;
}


.ui.modal>.content {
  font-size: 14px!important;
}

.article {
  min-height: 600px;
}

.main.container {
  /*padding: 4em 0em 2em;*/
}


.main.container>p {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

/*******************************
  Fixed top menu
*******************************/

/* NEW floating labels on top menu */
.ui.menu .item>.floating.label.new {
    top: 4em;
    left: 80%;
}


/*******************************
  Master headers backgrounds
*******************************/

.masthead {
  background-repeat: no-repeat!important;
  background-size: cover!important;
}

#home .masthead {
  background-image: url("/assets/backgrounds/stars.jpg")!important;
  background-size: auto;
}

#openapis .masthead {
  background-image: url("/assets/images/openapis/logo.png")!important;
}

/*******************************
  Open APIs Explorer
*******************************/


/*******************************
  Card lists
*******************************/

.ui.cards.top.margin {
  margin-top: 20px;
}

/*******************************
  Story maker
*******************************/
.modal .schema.input {
  margin-top: 20px;
}

#section-visualizations {
  padding: 20px!important;
}

.story.output {
  margin-top: 20px;
}

.story.part .visualization[data-type=json] {
  max-height: 400px;
  overflow-y: auto;
}

.story.part .visualization[data-type=table] {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: auto;
}
