/*******************************
             Global
*******************************/

/* Regular */
@font-face {
  font-family: 'Lato';
  src:
    url(../fonts/lato/Lato-Regular.ttf) format('ttf')
  ;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src:
    url(../fonts/lato/Lato-Italic.ttf) format('ttf')
  ;
  font-style: italic;
  font-weight: normal;
}

/* Bold */
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/lato/Lato-Bold.ttf) format('ttf')
  ;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/lato/Lato-BoldItalic.ttf) format('ttf')
  ;
  font-style: italic;
  font-weight: 700;
}


/*--------------
     Stripes
---------------*/

.stripe .grid .row {
  margin: 2rem 0rem;
}
.feature.stripe .grid .row {
  margin: 0rem;
}
.feature.stripe .column {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.feature.stripe p {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0.5em 0em 2em;
}
 .stripe .ui.vertical.divider {
  font-size: 1rem;
}
.feature.stripe .icon.header .icon.image {
  width: auto;
  height: 65px;
  margin-bottom: 20px;
}
.stripe .icon.header .icon.image {
  height: 65px;
  margin-bottom: 20px;
}
.community.stripe {
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  padding: 4em 0;
}
.stripe .icon.header i.icon {
  font-size: 2em;
}


/* Final */
.final.stripe {
  border-top: 1px solid #DDDDDD;
  background-color: #F8F8F8;
}

/* Alternate */
 .alternate.stripe {
  background-color: #F2F3F5!important;
}

/* Inverted */
.inverted.stripe {
  background-color: #1B1C1D;
}
.inverted.stripe p {
  color: #FFFFFF;
}


/*--------------
     Code
---------------*/

/* Inline Code */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre {
  background-color: #FFFFFF;
  text-align: left;
}


/*rtl:ignore*/
pre.console {
  background-color: transparent;
  line-height: 1.6;
  font-family:  'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  height: 300px;
  overflow: auto;
  direction:ltr;
}
code {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  display: inline-block;
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
  font-size: 0.875em;
  font-weight: bold;
  padding: 1px 6px;
  vertical-align: baseline;
}
pre code {
  border: none;
  padding: 0px;
  font-size: 1em;
}

blockquote {
  border-left: 4px solid #777777;
  font-size: 16px;
  line-height: 1.5;
  padding: 0em 2em;
  margin: 1em 0em 2em;
}
blockquote p {
  line-height: inherit;
}
blockquote .author {
  display: block;
  margin: 1em 0em 0em;
  font-weight: bold;
}

/* Code Inside Message */
.ui.message > p > code,
.ui.message > code {
  background-color: rgba(0, 0, 0, 0.06);
  line-height: 1;
  padding: 3px 4px;
}



.ui.header {
    font-weight: normal;
}

.stripe h1 {
    font-size: 40px!important;
}


.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 16px;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

.masthead {
  /* position: relative; */
  /* overflow: hidden; */
  /* text-align: center; */
  padding: 0em;
   color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;
  background-color: #000000;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.masthead:after {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-size: cover;
  opacity: 0.45;
}


.stripe h1 {
    font-size: 40px;
}

.ui.secondary.inverted.pointing.menu {
  border-color: none!important;
  border-bottom: 0px!important;
}



/*----------------
      Footer
-----------------*/

.pusher > .footer {
  margin: 0em;
  border-radius: 0em;
  padding: 4em 0em 4em 0em;
}


/*--------------
     Sidebar
---------------*/


 .ui.sidebar.menu .item {
  will-change: transform;
}

 .sidebar.menu .logo.image,
 .sticky.menu .logo.image {
  width: 35px;
  margin-right: 1em;
}

 #toc > * {
  will-change: transform;
}
 #toc > :last-child {
  padding-bottom: 2em;
}

/* Incomplete Label */
 #toc .item .circular.label {
  position: absolute;
  top: 0.75rem;
  right: 1em;
  opacity: 0.2;
  transition: background 0.3s ease;
}
 #toc .item.active > .circular.label,
 #toc .item:hover > .circular.label {
  opacity: 0.8;
}

/* Hidden Items */
 #toc .hide.item {
  display: none;
}

/* Sidebar Header */
 #toc .inverted.header {
  font-size: 1em;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.5em;
}
 #toc a.inverted.header.active,
 #toc a.inverted.header:hover {
  color: rgba(255, 255, 255, 1);
}
 #toc .menu .active.item {
  color: #FFF;
}


/*--------------
   Fixed Menu
---------------*/

 .main.menu .title.item b {
  margin-right: 0.5em;
}
 .fixed.main.menu .launch.item {
  display: block;
}
 .fixed.main.menu .search .icon {
  opacity: 0.9;
}


/*--------------
  Sidebar Button
---------------*/

 .fixed.launch.button {
  display: none;
  position: fixed;
  top: 2.5em;
  left: 0px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}
 .launch.button .icon {
  margin-left: 0px;
}


 .fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
 .fixed.launch.button:hover {
  width: 130px;
}
 .fixed.launch.button:hover .text {
  opacity: 1;
}

/* Position Change */
.pushable.left.overlay .fixed.launch.button {
  transform: translate3d(0, 0, 0);
}
.pushable.overlay.left.pushed .fixed.launch.button {
  transform: translate3d(260px, 0, 0);
}





/*******************************
         Sidebar Layout
*******************************/

.pusher > .full.height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
:not(.site) > .pusher > .full.height {
  background-color: #FFFFFF;
}

/* page layout */
 .full.height > .toc {
  position: relative;
  z-index: 1;
  background-color: #1b1c1d;
  width: 250px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
 .full.height > .toc .ui.menu {
  border-radius: 0;
  border-width: 0 1px 0 0;
  box-shadow: none;
  margin: 0;
  width: inherit;
  overflow: hidden;
  will-change: transform;
}
 .article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px;
}

/*******************************
      Definition Container
*******************************/

.pusher > .footer {
  clear: both;
}

 .fixed.menu > .container,
 .main.container,
 .masthead > .container,
 .footer > .container {
  position: relative;
}

 .main.container {
  padding: 8em 0em 7em;
}
 .wide.main.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1140px;
}

 .main.container > .right.rail .sticky,
 .main.container > .tab > .examples > .right.rail .sticky,
 .main.container > .tab > .right.rail .sticky {
  padding-bottom: 2em;
}
 .main.container > .right.rail .fixed.sticky,
 .main.container > .tab > .examples > .right.rail .fixed.sticky,
 .main.container > .tab > .right.rail .fixed.sticky {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

 .following.menu .menu .active.item {
  font-weight: bold;
}



/*******************************
          Responsive
*******************************/

/* Defaults */
 .masthead > .container,
 .main.container,
 .fixed.menu > .container {
  /*margin-left: 3em !important;
  margin-right: 3em !important;
  width: auto !important;
  max-width: 960px !important;*/
}
 .masthead > .container {
  /*margin-right: 387px !important;*/
}
 .main.container {
  /*margin-right: 387px !important;*/
}

/* Rail Default */
 .main.container > .right.rail,
 .main.container > .tab > .examples > .right.rail,
 .main.container > .tab > .right.rail {
  margin-left: 3em;
  padding-top: 2em;
  width: 319px;
}

 .masthead .advertisement {
  margin-left: 3em;
  padding: 0em 1.25em;
  width: 342px;
}

/* Absolute Ad */
 .masthead .introduction {
  display: block;
}
 .masthead .advertisement {
  position: absolute;
  left: 100%;
  bottom: -2px;
}

/* Remove Overview from pages with Examples */
@media only screen and (max-width: 1500px) {

   .fixed.column {
    right: auto;
    left: 100%;
    margin-left: 4.5em;
    width: 300px;
  }
   .fixed.column + .examples {
    margin-right: 0px;
  }
   .fixed.column + .examples .right.rail {
    display: none;
  }

}


/* Table Ad */
@media only screen and (max-width: 1272px) {

   .masthead > .container {
    margin-right: 2em !important;
    max-width: none !important;
  }
   .masthead .introduction {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
   .masthead .advertisement {
    position: static;
    float: none;
    display: table-cell;
    vertical-align: bottom;
    padding-left: 3em;
    padding-right: 0em;
  }
   .bsa-cpc ._default_ {
    margin-right: 0px;
  }
}

/* Squish Content (Just For Small Computers) */
@media only screen and (max-width: 1272px) {

  /* Resize Main Container */
   .main.container {
    margin-right: 318px !important;
  }

  /* Resize TOC  */
   .full.height > .toc {
    width: 200px;
  }

  /* Resize Rail */
   .main.container > .right.rail,
   .main.container > .tab > .examples > .right.rail,
   .main.container > .tab > .right.rail {
    padding-left: 1.5em;
    width: 260px;
  }

   .fixed.column {
    width: 250px;
    margin-left: 2.5em;
  }

}

/* Hide Top Bar */
@media only screen and (min-width: 1145px) {
   .fixed.main.menu {
    display: none;
  }
}

/* Remove Fixed Sidebar /  Show Top Bar */
@media only screen and (max-width: 1144px) {

  /* Hide Fixed Sidebar */
   .full.height > .toc {
    display: none;
  }

  /* Hide Fixed Launch Button */
   .fixed.launch.button {
    display: none !important;
  }

  /* Additional Padding for Fixed Menu */
   .masthead.segment {
    padding-top: 5em;
  }

  /* Hide GitHub Stars in Intro */
   .masthead iframe {
    display: none;
  }

  /* Less Left Padding */
   .masthead > .container,
   .main.container,
   .fixed.menu > .container {
    margin-left: 2em !important;
  }

  /* Padding Above Rail */
   .main.container > .right.rail .sticky,
   .main.container > .tab > .examples > .right.rail .sticky,
   .main.container > .tab > .right.rail .sticky {
    padding-top: 2.5em;
  }

  /* 100% Menu Width */
   .fixed.menu > .container {
    margin-left: 0em !important;
    margin-right: 0em !important;
    width: 100% !important;
    max-width: none !important;
  }

  /* Remove Bug Reports */
   .main.menu .bug.item {
    display: none;
  }

  /* Hide Music *]/
   .main.menu .music.item {
    display: none;
  }

  /* Space For Header Over Examples */
   .fixed.column .sticky {
    padding-top: 2em;
  }

}

/* Remove Rail */
@media only screen and (max-width: 992px) {

  /* Remove Rail */
   .main.container > .right.rail,
   .main.container > .tab > .examples > .right.rail,
   .main.container > .tab > .right.rail {
    display: none;
  }

  /* Fluid Containers */
   .masthead > .container,
   .main.container,
   .fixed.menu > .container {
    margin-left: 1em !important;
    margin-right: 1em !important;
    max-width: none !important;
  }

  /* Still 100% Fixed Menu */
   .fixed.menu > .container {
    margin-left: 0em !important;
    margin-right: 0em !important;
    width: 100% !important;
    max-width: none !important;
  }

  /* Remove Padding on Ad */
   .masthead .advertisement {
    padding-right: 0em !important;
  }


}


@media only screen and (max-width: 820px) {

  /* Ad Takes Full Width */
   .masthead .introduction {
    display: block;
  }
   .masthead .advertisement {
    display: block;
    float: none;
    margin: 2em 0em 0em;
    padding-left: 0em;
    width: auto;
  }
   .masthead .advertisement #carbonads > span {
    position: relative;
    display: block;
    max-width: 300px;
  }

}

@media only screen and (max-width: 768px) {

  /* Hide Some Fixed Menu Content (Pagination, Search) */
   .fixed.menu > .container > .section.item {
    display: none;
  }
   .masthead.segment {
    padding-bottom: 0em;
  }

  .button-page .example > .button,
  .button-page .example .html > .button {
    margin-bottom: 8px;
  }

  /* Add Sticky Footers */
  body.pushable > .pusher {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  }
  body.pushable > .pusher > .full.height {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  }

  /* Ad Label */
   .bsa-cpc ._default_ {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* Let Buttons Vertically Stack */
   .masthead .button {
    margin-bottom: 0.75em;
  }

   .masthead .main.menu {
    display: none;
  }
   .masthead .main.menu + .main.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  /* No Download Button */
   .masthead .download.button {
    display: none;
  }

  /* Hide Sitemap */
   .pusher > .footer .grid .three.column {
    display: none !important;
  }
}

/* Small Phone */
@media only screen and (max-width: 500px) {

  /* Stack Advert */
   .masthead .advertisement #carbonads > span {
    max-width: none;
  }
   .advertisement .carbon-wrap {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;

    text-align: center;
    align-items: center;
  }
   .carbon-poweredby {
    display: none;
  }

}
