<div class="ui inverted vertical masthead center aligned segment">

  {{> modules/home/menu-pointing}}

  <div class="ui text container">
    <h1 class="ui inverted header">
      The API Spots
    </h1>
    <h2>APIs for Humans</h2>
    <div class="ui huge inverted button">Get Started</div>
  </div>

</div>
