<!-- Following Menu -->
{{> modules/home/menu-following}}

<!-- Page Contents -->
<div class="pusher">

  {{> modules/home/header-master}}

  {{> modules/home/section-features}}


  <div class="ui black inverted vertical footer segment">
    {{>common/footer}}
  </div>


</div>
