<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="/index.html">Open APIs</a>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
  <a class="active item" href="/index.html">Open APIs</a>
</div>


<!-- Page Contents -->
<div class="pusher">

  {{#if loading}}
    {{> modules/home/loading.hbs}}
  {{else}}
    {{> modules/home/default.hbs}}
  {{/if}}


  {{> common/footer}}

</div>
