<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="active item" href="/pages/home.html">API Spots</a>
    <a class="item" href="/pages/openapis.html">Open APIs</a>
  </div>
</div>
