<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="/pages/home.html">API Spots</a>
    <a class="item" href="/pages/openapis.html">Open APIs</a>
  </div>
</div>
