{
  "swagger": "2.0",
  "info": {
    "title": "Blog",
    "description": "This is a blog api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "blog.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "bloglication/json"
  ],
  "paths": {
    "blog/": {
      "get": {
        "summary": "retrieves all blogs",
        "description": "pulls all blogs, with filter by keyword",
        "operationId": "getBlogs",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "blog",
          "blogging"
        ]
      },
      "post": {
        "summary": "add blog",
        "description": "add a new blog",
        "operationId": "addBlog",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "blog",
          "blogging"
        ]
      }
    },
    "blog/{slug}": {
      "get": {
        "summary": "Retrieve a blog using its slug",
        "description": "Returns the blog detail",
        "operationId": "getBlog",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the blog, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "blog",
          "blogging"
        ]
      },
      "put": {
        "summary": "update blog",
        "description": "update blog",
        "operationId": "updateBlog",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the blog",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "blog",
          "blogging"
        ]
      },
      "delete": {
        "summary": "delete blog",
        "description": "deletes an blog",
        "operationId": "deleteBlog",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the blog",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "blog response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/blog"
              }
            }
          }
        },
        "tags": [
          "blog",
          "blogging"
        ]
      }
    }
  },
  "definitions": {
    "blog": {
      "properties": {
        "name": {
          "description": "name of the blog",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the blog",
          "type": "string"
        },
        "url": {
          "description": "url for the blog",
          "type": "string"
        },
        "tags": {
          "description": "tags for the blog",
          "type": "string"
        },
        "slug": {
          "description": "slug for the blog",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
