
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="https://www.linkedin.com/in/xrysanthos" target="_blank" class="item">Author</a>
          <a href="mailto:chrysanthos.spiliotopoulos@gmail.com" target="_blank" class="item">Contact</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Locations</h4>
        <div class="ui inverted link list">
          <a href="https://apispots.github.io" target="_blank" class="item">Website</a>
          <a href="https://apispots.github.io/docs/" target="_blank" class="item">Documentation</a>
          <a href="https://github.com/apispots" target="_blank" class="item">Github</a>
          <a href="https://twitter.com/apispots" target="_blank" class="item">Twitter</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">The API Spots &copy; 2022</h4>
        <p>APIs for Humans</p>
        <div class="ui inverted link list">
          <a href="https://github.com/apispots/apispots-extension/issues"
            target="_blank" class="item"><i class="red bug icon"></i> Report an issue</a>
        </div>
      </div>
    </div>
  </div>
</div>
