<div class="ui container">

  <div class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="active item" href="/index.html">Home</a>
    <a class="item" href="/pages/catalogs.html">Catalogs</a>
  </div>
  
</div>
