<h2>Operations as a network graph</h2>
<p>
A graph representation of the API's resource tree.  The graph is interactive.
Double-clicking a node will open its details.  The graph can be dragged and
zoomed using the scroll button. Nodes with the same color belong to paths having a common top-level resource.
</p>

<div id="graph"></div>
