

{{>modules/openapis/explorer/menu}}

<div class="pusher">

  <div id="content" class="main text container wide">


  </div>

  <div class="ui black inverted vertical footer segment">
    {{>common/footer}}
  </div>

</div>
