<div class="ui fixed menu">
  <div class="ui container">
    <div class="header item">
        {{info.title}}
      </div>
    <a class="item" href="#" data-action="bookmark api">
      <div class="floating mini ui green label new"
        data-tooltip="Bookmarks this API spot"
        data-position="bottom center">NEW</div>
      <span>
        <i class="bookmark icon"></i>
      </span>
    </a>
    <a class="item" href="/pages/openapis.html">
      Back to Open APIs
    </a>

    <a href='#' class="item" data-section="general">
      General
    </a>

    <a href='#' class="item" data-section="definitions">
      Definitions
    </a>

    <a href='#' class="item" data-section="security">
      Security
    </a>

    <a href='#' class="item" data-section="operations">
      Operations
    </a>

    <a href='#' class="item" data-section="stories">
      Data stories
      <div class="floating mini ui green label new"
        data-tooltip="Interact with this API through human friendly data stories"
        data-position="bottom center">NEW</div>
    </a>

  </div>
</div>
