<div class="ui pointing menu presentation">
  <a class="item active" data-id="paths">
    Paths
  </a>
  <a class="item" data-id="graph">
    Graph
  </a>
  <!-- <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div> -->
</div>


<div id="section-contents">


</div>
