<h2>Data stories</h2>
<p>
A <strong>data story</strong> is a high-level abstraction
of an API interaction that involves an API operation, an
input and an output all bundled together as one.
</p>

<div class="ui top attached menu">
  <a class="item" data-id='new-story'>
    New story
  </a>
  <!-- <div class="ui dropdown icon item">
    Actions
    <i class="dropdown icon"></i>
    <div class="menu transition hidden">
      <div class="item">
        New story
      </div>

    </div>
  </div> -->
  <!-- <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search stories..." autocomplete="off">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div> -->
</div>

<div class="ui cards top margin">

  <div class="card small">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button" data-action="create-story">Create story</div>
          </div>
        </div>
      </div>
      <img class="ui image mini" src="../../../../assets/images/stories/story.svg">
    </div>
    <div class="content">
      <a class="ui header">A new data story</a>
      <div class="meta">
        <span class="date">Just now</span>
      </div>
    </div>
    <div class="ui bottom attached button" data-action="create-story">
      <i class="add icon"></i>
      Create story
    </div>
  </div>

  {{#each stories}}

    <div class="ui card">
      <div class="content">
        <div class="ui header">{{title}}</div>
        <div class="meta">
          <span>2 days ago</span>
          <a>Animals</a>
        </div>
        <div class="description">
          {{description}}
        </div>
      </div>
      <div class="extra content">

      </div>
    </div>

  {{/each}}



</div>
