<h2>Data stories</h2>
<p>
A <strong>data story</strong> is a high-level abstraction
of an API interaction that involves an API operation, an
input and an output all bundled together as one.
</p>

<div class="ui top attached menu">
  <a class="item" data-id='new-story'>
    New story
  </a>
  <!-- <div class="ui dropdown icon item">
    Actions
    <i class="dropdown icon"></i>
    <div class="menu transition hidden">
      <div class="item">
        New story
      </div>

    </div>
  </div> -->
  <!-- <div class="right menu">
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="Search stories..." autocomplete="off">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div> -->
</div>
