
<div class="ui">
  <div class="ui active inverted dimmer">
    <div class="ui text huge loader">API Spots loading...</div>
  </div>
  <img class="ui wireframe image centered" src="../../../assets/images/common/paragraph.png">
  <img class="ui wireframe image centered" src="../../../assets/images/common/paragraph.png">
  <img class="ui wireframe image centered" src="../../../assets/images/common/paragraph.png">
</div>
