
{{!-- {{>modules/api/explorer/menu}} --}}

{{!-- <div class="pusher">

  <div id="content" class="main container wide">


  </div>

  <div class="ui black inverted vertical footer segment">
    {{>common/footer}}
  </div>

</div> --}}

<div class="pusher">

  <div class="full height">

    <div class="toc">

       {{>modules/api/explorer/menu}}

    </div>

    <div class="article">

      <div id="content" class="main ui text container">

      </div>

    </div>

  </div>

  <div class="ui black inverted vertical footer segment">
    {{>common/footer}}
  </div>

</div>