{{!-- {{>modules/api/explorer/menu}} --}}

{{!-- <div class="pusher">

  <div id="content" class="main container wide">


  </div>

  <div class="ui black inverted vertical footer segment">
    {{>common/footer}}
  </div>

</div> --}}

<div class="pusher">

  <div class="full height">

    <div class="toc">

      {{>modules/api/explorer/menu}}

    </div>

    <div class="article">


      <div class="main ui text container">

        <div id="searchbox" class="ui search centered row"  style="margin-bottom: 40px;">
          <div class="ui icon input" style="width: 100%;">
            <input class="prompt" type="text" placeholder="Search specification ...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>

        <div id="content" class="ui centered row"></div>

      </div>

    </div>

  </div>

  <div class="ui black inverted vertical footer segment">
    {{>common/footer}}
  </div>

</div>