<div class="ui pointing menu presentation">
  <a class="item active" data-id="paths">
    Paths
  </a>
  <a class="item" data-id="graph">
    Graph
  </a>
</div>


<div id="section-contents">


</div>
